header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 49px;
   
}

.header-logo{
    padding: 10px;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.link{
    margin: 10px;
    font-family: sans-serif;
 
}

.no-decoration{
    text-decoration: none;
    margin-left: 20px;
}

.right{
    justify-content: flex-end;
}

.button{
    background-color:#0061ff;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    margin-right: 10px;
    color: white;
    border:none;
    padding: 5px;
    text-decoration: none;    
}

main{
    padding-top: 49px;
    width: 100%;
}

.jumbobox{
    background-color: #b4d0e7;
    display: flex;
    flex-direction: column;
    height: 600px;

}

.jumbobox-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
    height: calc(70% - 40px);
    margin-top: 40px;
}

.jumbobox-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
}

.jumbobox-right{
    width: 70%;
    height: 100%;
}

.jumbobox-right img{
    width: 100%;
    height:calc(100% + 50px)
}

.jumbobox-left-up{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.jumbobox-left-down i{
    font-size: 25pt;
    padding: 20px;
    padding-left: 0;
}

.jumbobox h1{
    width: 70%;
    height: calc(30% - 10px);
    margin: auto;
    padding: 10px;
    padding-right: 10px;
    font-size: 50pt;
    font-weight: 800;
    margin-top: 10px;
}

.checkbox-piani{
    margin: auto;
    width: 70%;
    padding-top: 80px;
}

.checkbox-piani label{
    margin-right: 20px;
}

.singolo{
    border: 1px solid black;
    margin-top: 20px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista{
    border: 1px solid black;
    border-top: none;
    padding: 20px 30px;
}

.features{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 400px;
}

.lista a, .check-blue i{
    color: #0061ff;
}

.check-blue{
    height: 300px;
}

.check-blue p{
    margin-bottom: 20px;
}

hr{
    width: 30%;
    margin-bottom: 20px;
}

.space-between-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.piani-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.piani{
    width: 30%;
}

.team{
    border: 1px solid black;
    padding: 5px 30px; 
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70%;
    margin-top: 20px;
}



.enterprise{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-top: none;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 70px;
}

.box-img{
    width: 60%;
}

.box-img img{
    width: 100%;
}

.box-content{
    width: 35%;
}

.box-content h2, .box-content p, .box-content a{
  width: 100%;
  margin-left: 20px;
}

.a-setting{
    margin-top: 40px;
}
.a-setting a{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding:10px
}

.dropbox-business-container{
    width: 70%;
    margin: auto;
    margin-top:70px;
}

.blocco-categorie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.categoria{
    width: 30%;
}

.categoria img{
    width:100%
}

.banner{
    margin: auto;
    width: 70%;
    margin-top: 70px;
}

.banner a{
    margin-top: 30px;
    display: inline-block;
}






